temp/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar

### Eclipse
.classpath
.project
.settings

### IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Maven
target/

# Maven Wrapper
.mvn/


# Java
*.class

# Visual Studio
.vscode